
DreamTeamHappyGame/Temp/UnityLockfile
DreamTeamHappyGame/Library/CrashedAssetImports.txt
DreamTeamHappyGame/Library/CurrentLayout.dwlt
DreamTeamHappyGame/Library/EditorInstance.json
DreamTeamHappyGame/Library/expandedItems
DreamTeamHappyGame/Library/LastSceneManagerSetup.txt
DreamTeamHappyGame/Library/shadercompiler-UnityShaderCompiler.exe0.log
DreamTeamHappyGame/Library/StateCache/Hierarchy/a30f94-mainStage.json
DreamTeamHappyGame/Temp/UnityTempFile-22fec0772be45084f8e013ed0820e94f
DreamTeamHappyGame/Temp/UnityTempFile-5230862b89fa86b46855891bdb8c7974
